.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 1136px;
  height: 80px;
  margin: 0 auto;
  padding: 0 30px;
  border-bottom: 1px solid #CCCCCC;
  position: fixed;
  align-self: center;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-left: auto;
  font-family: "Gotham Book";
  font-size: 18px;
  line-height: 17px;
}

.nav .tab {
  margin-right: 60px;
  color: #828282;

  &:last-child {
    margin-right: 0;
  }
}

.navbarLogoImg {
  width: 100px;
  height: 30px;
  justify-content: flex-start;
}