.mainPageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px 0 0;
  background: url("../../assets/home/main-section-bg.png") 1366px 800px;
  min-width: 1366px;
  min-height: 800px;
  margin: 0 auto;
}

.mainHeader {
  font-family: "Gotham Book";
  font-weight: normal;
  font-size: 48px;
  color: #828282;
  margin-top: 110px;
  align-items: center;
}

.logoContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 130px;
}

.mainLogoIcon {
  width: 400px;
  height: 120px;
  margin-bottom: 25px;
}

.findOutLink {
  font-family: "Gotham Medium";
  color: #FFFFFF;
  font-size: 18px;
  letter-spacing: 0.7px;
  margin-bottom: 30px;
  text-align: center;
}

.mainChevron {
  width: 40px;
  height: 40px;
  opacity: 1;
  transition: opacity 0.3s;

  &:hover {
    opacity: 0.5;
  }
}

.projectContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px 0 0;
  min-width: 1366px;
  min-height: 323px;
  margin: 0 auto;
}

.projectHeading{
  text-align: center;
  color: #828282;	
  font-family: "Gotham Book";	
  font-size: 48px;	
  line-height: 46px;	
  padding: 100px 0;

}

.projectItemContainer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-width: 1366px;
  height: 320px;
  margin: 0 auto;
}

.projectItem{ 
  height: 190px;	
  width: 411px;	
  border-radius: 10px;	
  background-color: #FFFFFF;	
  box-shadow: 0 2px 10px 1px rgba(184,184,184,0.5);
}

.projectItem:nth-child(1){
  margin-left: 2.5%; 
}


.projectItem:nth-child(3){
  margin-right: 2.5%;
}

.projectItem p{
  position: relative;
  float: left;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #828282;	
  font-family: "Gotham Book";
  font-size: 24px;
}

.announceContainer{
  display: flex;
  flex-direction: row;
  justify-content: center;
  min-width: 1366px;
  height: 522px;
  background-color: #F1F1F1;
}

.announceHeader{
  height: 120px;	
  width: 369px;	
  color: #B3B3B3;
  font-family: "Gotham Medium";	
  font-size: 48px;	
  line-height: 60px;
  margin-top: 212px;
  position: relative;
  float: left;
  left: 4%;
}

.announceWhiteBox{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 264px;	
  width: 743px;	
  border-radius: 10px;	
  background-color: #FFFFFF;	
  box-shadow: 0 2px 10px 1px rgba(184,184,184,0.5);
  margin-top: 140px;
}

.announceTextHeader{
  height: 22px;	
  width: 372px;	
  color: #FF595A;	
  font-family: "Gotham Medium";	
  font-size: 24px;	
  line-height: 24px;
  margin-left: 112px;
  margin-bottom: 20px;
}

.announceText{
  height: 102px;	
  width: 377px;	
  color: #828282;	
  font-family: "Gotham Book";	
  font-size: 24px;	
  line-height: 34px;
  margin-left: 112px;
}