$to-base-color: #555555;
$to-base-white: #ffffff;
%to-base-font{
  font: 600 80px/96px "Gotham Medium";
}

// Announcement Header Section
.announcementHeadContainer {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 80px 0 0;
  background: url("../../assets/announcement/announcement_bg.png") center/cover no-repeat;
  min-width: 1366px;
  min-height: 600px;
}

.announcementPageHeader{
  margin: 134px 0 0;
  padding: 0 145px;
  color: $to-base-white;

  h1 {
    @extend %to-base-font;
  }
}

.logoIcon {
  height: 73px;
  width: 73px;
  border-radius: 10px;
  margin-right: 10px;
}

// Announcement Upcoming Events Section
.upcomingEventContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 1366px;
  margin: 0 auto;
  background-color: #F9F9F9;
}

.upcomingEventHeader{
  color: $to-base-color;
  @extend %to-base-font;
  margin-top: 146px;
  font-size: 35px;
  line-height: 42px;
}

.latestEventBox{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 91px;
  padding: 70px 80px;
  max-width: 853px;
  border-radius: 10px 10px 0 0;
  background-color: $to-base-white;
  box-shadow: 0 1px 25px 1px rgba(238,238,238,0.75);
}

.latestEventBox h1{
  margin: 0 0 20px;
  color: #FF595A;
  @extend %to-base-font;
  font-size: 30px;
  line-height: 36px;
  text-align: center;

  & hr {
    display: inline-flex;
    width: 50%;
    height: 2px;
    background-color: #FF595A;
    margin: 10px 0;
    border: none;
  }
}

.eventProfile {
  display: flex;
  flex-direction: row;
  width: 675px;
}

.profileImageContainer p{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profileImageIcon{
    width: 100px;
    height: 100px;
}

.eventContentBox {
  display: flex;
  flex-direction: column;
  margin: 30px 0 50px 50px;

  & h2 {
    font-size: 33px;
    line-height: 40px;
    font-weight: 500;
    margin: 0;
    color: #555555;
    margin-bottom: 10px;

    & span {
      font: 500 17px/20px "Gotham Medium";
      color: #999999;;
    }
  }

  & p {
    font: 500 18px/22px "Gotham Medium";
    color: #555555;
    margin-bottom: 10px;
  }
}

.eventButton{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 22px 54px;
  font: 500 24px/30px "Gotham Medium";
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  border-radius: 30px;
  background-color: #FF595A;
  color: $to-base-white;
  text-align: center;
  cursor: pointer;
  transition: 0.2s opacity;
  outline: none;

  &:hover {
    opacity: 0.7;
  }
}

.multiEventBox{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 760px;
    width: 853px;
    margin: 100px 0 124px 0;
    border-radius: 10px 10px 0 0;
    background-color: $to-base-white;
    box-shadow: 0 1px 20px 1px rgba(238,238,238,0.7);
}

.announceEventItems:first-child{
    margin-top: 70px;
}



