.buttonContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5rem;
}

.button {
  background-color: #26AFDF;
  border: none;
  color: white;
  padding: 1.25rem 3.5rem;
  text-align: center;
  font-weight: bold;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  border-radius: 2rem;
}

.mainCover {
  background: url("../../assets/home/home.png");
  background-repeat: no-repeat;
  background-size: 100%;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.mainContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  color: #fff;
}

.mainContainer h1 {
  padding-bottom: 2rem;
  font-size: 4rem;
}

.mainContainer p {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  font-size: 2rem;
}
