@font-face {
	font-family: 'Gotham Book';
	font-style: normal;
	font-weight: normal;
	src: url('../assets/fonts/gotham-book.woff') format('woff');
}

@font-face {
	font-family: 'Gotham Medium';
	font-style: normal;
	font-weight: normal;
	src: url('../assets/fonts/gotham-medium.otf') format('opentype'),
			 url('../assets/fonts/gotham-medium-italic.otf') format('opentype')
}

@font-face {
	font-family: 'Gotham Bold';
	font-style: normal;
	font-weight: normal;
	src: url('../assets/fonts/gotham-bold.ttf') format('truetype')
}