@font-face {
	font-family: 'Gotham Book';
	font-style: normal;
	font-weight: normal;
	src: url('../assets/fonts/gotham-book.otf') format('opentype');
}

@font-face {
	font-family: 'Gotham Book Italic';
	font-style: normal;
	font-weight: normal;
	src: url('../assets/fonts/gotham-book-italic.otf') format('opentype');
}

@font-face {
	font-family: 'Gotham Medium';
	font-style: normal;
	font-weight: normal;
	src: url('../assets/fonts/gotham-medium.otf') format('opentype');
}

@font-face {
	font-family: 'Gotham Medium Italic';
	font-style: normal;
	font-weight: normal;
	src: url('../assets/fonts/gotham-medium-italic.otf') format('opentype')
}

@font-face {
	font-family: 'Gotham Bold';
	font-style: normal;
	font-weight: normal;
	src: url('../assets/fonts/gotham-bold.ttf') format('truetype')
}

@font-face {
	font-family: 'Gotham Bold Italic';
	font-style: normal;
	font-weight: normal;
	src: url('../assets/fonts/gotham-bold-italic.otf') format('opentype')
}
