.jumbotron {
    background: url("./assets/home.png") no-repeat center center fixed;
    
    padding-top: 20%;
    /* padding-bottom: 20%; */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    opacity: 0.8;
  }

  .jumbotron p{
      color: white;
      font-weight: bold;
      margin-left: 20%;
  }

  
  .jumbotron h1{
    color: white;
    font-weight: bold;
    margin-left: 20%;
}

.button_round{
  height: 40px;	
  width: 110px;	
  border-radius: 30.5px;	
  background-color: #26AFDF;	
  box-shadow: 0 2px 5px 1px rgba(0,0,0,0.3);
  font-weight: bold;
}