.navOption{
    height: 22px;	
    margin: 20px;		
    font-family: Helvetica;	
    font-size: 16px;	
    line-height: 22px;
    text-align: center;
    color: black;
}

.login_circle{
    margin-right: 145px;
    margin-top: 23px;
    color: #13576F;	
    font-family: Helvetica;	
    font-size: 28px;	
    line-height: 22px;
    text-align: center;
}

.logo {	
    color: #13576F;	
    height: 48px; 
    width: 149px;  
    font-family: Helvetica;	
    font-size: 32px;	
    font-weight: bold;	
    line-height: 48px;
    margin-left:145px;
}
