.navOption{
    height: 22px;	
    margin: 20px;	
    color: black;	
    font-family: Helvetica;	
    font-size: 17px;	
    line-height: 22px;
    text-align: center;
}

.login_circle{
    margin-right: 145px;
    margin-top: 23px;
    color: #13576F;	
    font-family: Helvetica;	
    font-size: 28px;	
    line-height: 22px;
    text-align: center;
}

.logo {	
    height: 48px;	
    width: 149px;
    margin-left: 145px;	
    color: #13576F;	
    font-family: Helvetica;	
    font-size: 2em;	
    font-weight: bold;	
    line-height: 48px;
}